body {
  margin: 0;
}
.wrapper {
  & nav {
    min-height: 70px;
    background: #000;

    & .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      padding: 25px 0;

      & a {
        color: #fff;
        margin: 10px;
        text-decoration: none;
        &:hover {
          color: blue;
        }
      }
    }
  }

  & .container {
    max-width: 1440px;
    width: 100%;
    padding: 16px;
    margin: 0 auto;

    & form {
      padding: 16px 0;

      & input {
        padding: 10px 20px;
        border: 1px solid gray;
        border-radius: 6px;
        margin-right: 20px;
        width: 80%;
      }

      & button {
        border: 0;
        background: green;
        color: white;
        padding: 10px 20px;
        border-radius: 6px;
      }
    }

    & .main-block {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    & .movie-card {
      max-width: 250px;
      width: 100%;
      text-align: center;
      border: 1px solid rgb(13, 109, 160);
      border-radius: 10px;
      padding: 16px;

      & .movie-poster {
        position: relative;

        & img {
          width: 100%;
        }

        & button {
          position: absolute;
          background: 0;
          border: 0;
          font-size: 24px;
          right: 10px;
          top: 10px;
          color: gray;
          cursor: pointer;

          &.active {
            color: #179706;
          }
        }
      }
    }
  }
}
